/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

/* HEART ICON ANIMATION */

.like-icon {
  inline-size: 39px;
}

.heart {
  transform-origin: center center;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.contour {
  fill: var(--text-color, #000);
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: var(--text-color, #000);
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: var(--heart-fill, #FF0000);
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--text-color, #000);
}

.like-icon:active .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--heart-fill, #FF0000);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--heart-fill, #FF0000);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--heart-fill, #FF0000);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--heart-fill, #FF0000);
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}

/* ANIMATIONS */

@keyframes arrow-moving {
  0% {
    translate: 0;
  }

  100% {
    translate: 4px;
  }
}

@keyframes heart-scale {
  to {
    scale: 1.5;
  }
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}