extends ../layouts/default

block variables 
    -
        var cardData = [
            {'heading': 'Фритрек и нулевой спринт: Подготовка к работе', 'avifUrl': 'images/pic1.avif', 'jpgUrl': 'images/pic1.jpg', 'imgAlt': 'фото кота', 'span': '<я смогу!/>', 'cardDescription1': 'Это было самое начало пути. На этом этапе важно было проникнуться основами и настроиться на учёбу. И, возможно, подумать, как новые знания могут повлиять на ваше будущее.', 'cardDescription2': 'Окрылённые, мы бросились покорять веб, надеясь, что уже завтра станем не иначе, как новыми Цукербергами.'},
            {'heading': '1 спринт: Я — чистый лист', 'avifUrl': 'images/pic2.avif', 'jpgUrl': 'images/pic2.jpg', 'imgAlt': 'фото кота', 'span': '<я смогу!/>', 'cardDescription1': 'На первых этапах мы работали со страхами и сомнениями, которые часто испытывают новички. Один из них — страх перед чистым листом. Это, конечно же, намного сложнее, чем боязнь куска бумаги. Часто за этим ощущением скрываются более глубокие вопросы: с чего начать? а вдруг будет слишком сложно? что, если я не справлюсь?', 'cardDescription2': 'И тут-то нас и стало одолевать беспокойство. А получится ли? А смогу ли я? А не слишком ли всё это сложно для меня? И коронное: а не стар ли я для этого?'},
            {'heading': '1 спринт: А если не получится?', 'avifUrl': 'images/pic3.avif', 'jpgUrl': 'images/pic3.jpg', 'imgAlt': 'фото кота', 'span': '<я не смогу!/>', 'cardDescription1': 'Первый проект — позади! Но это всё ещё самое начало пути. Радость могла быстро померкнуть и смениться ожиданием провала. Или вы, наоборот, могли вдохновиться успехами и поверить в себя.', 'cardDescription2': 'Депрессивное настроение и правда сменилось восторженным. Ого, мы сделали свой первый в жизни проект! "А если я его в портфолио положу, меня возьмёт на работу Google?"'},
            {'heading': '2 спринт: Погоня за идеалом', 'avifUrl': 'images/pic4.avif', 'jpgUrl': 'images/pic4.jpg', 'imgAlt': 'фото кота', 'span': '<я смогу!/>', 'cardDescription1': 'На этом этапе вы уже достаточно разбирались в основах вёрстки, чтобы понять, как много ещё впереди. Вы могли попытаться погнаться за идеалом и понять, что он недостижим. А, может, вы вовсе и не подвержены перфекционизму и вместо того, чтобы сделать идеально, старались просто сделать.', 'cardDescription2': 'Американские горки продолжались. От недели к неделе мы то верили в себя, то осознавали, какое непостижимое количество знаний ещё предстоит усвоить. Желание сложить лапки и поплакать порой было невыносимо.'},
            {'heading': '2 спринт: О тех, кто рядом', 'avifUrl': 'images/pic5.avif', 'jpgUrl': 'images/pic5.jpg', 'imgAlt': 'фото кота', 'span': '<я не смогу!/>', 'cardDescription1': 'Всё это время вы были не одиноки (хотя, возможно, иногда и чувствовали, что одни против целого мира). Вас окружали одногруппники, команда сопровождения и просто близкие люди, которым можно пожаловаться, если очередной макет просто так не поддавался. Осваивать что-то новое легче, когда рядом есть единомышленники, не правда ли?', 'cardDescription2': 'Эгоистичная мысль "я ещё не вылетел! ещё есть ребята, которые даже не приступали к проектной работе!" помогала нам держаться на плаву.'},
            {'heading': '3 спринт: Когда опускаются руки', 'avifUrl': 'images/pic6.avif', 'jpgUrl': 'images/pic6.jpg', 'imgAlt': 'фото кота', 'span': '<я смогу!/>', 'cardDescription1': 'На этом курсе вы постоянно решали разные задачи. В какой-то момент вам могло показаться, что решения просто иссякли. Значит, пришло время посмотреть на задачу под другим углом.', 'cardDescription2': 'Когда казалось, что выхода нет, мы смотрели в голодные глаза наших котов и понимали, что мы не можем их подвести.'},
            {'heading': '3 спринт: Обходные стратегии', 'avifUrl': 'images/pic7.avif', 'jpgUrl': 'images/pic7.jpg', 'imgAlt': 'фото кота', 'span': '<я не смогу!/>', 'cardDescription1': 'Во время учёбы часто возникает чувство, когда не знаешь, за что хвататься. Вроде и проектную пора сдавать, и задачи хочется порешать, и в теории получше разобраться, и жизнь не забыть пожить. В такие моменты очень нужна концентрация. Вспомните, откуда вы её черпали.', 'cardDescription2': 'Кто-то опустошал прилавки "Красного и белого", кто-то сводил с ума поисковые системы запросами "почему, почему, почему у меня не работает анимация svg", а кто-то упорно перечитывал уроки практикума, зная, что все ответы там есть.'},
            {'heading': '«Сейчас я здесь»', 'avifUrl': 'images/pic8.avif', 'jpgUrl': 'images/pic8.jpg', 'imgAlt': 'фото кота', 'span': '<я смогу!/>', 'cardDescription1': 'Сейчас вы уже очень много знаете о вёрстке. Но это только начало. Во-первых, впереди ещё много материала про «красотищу». Во-вторых, с окончанием курса учёба не заканчивается. Вёрстка — это целый мир. И этот мир постоянно меняется. Познать его полностью не получится, но это тот случай, когда важен сам процесс познания. Ведь часто путь — и есть результат.', 'cardDescription2': 'И тут мы наконец смирились с тем, что нам предстоит покорение такого большого мира, в которым сам Колумб потерялся бы. Все на борт! Нам ещё предстоит много открытий!'}
        ]


block content
    main.main
        section.content.content-inline-size
            include ../components/card
            each card in cardData
                +card(card.heading, card.avifUrl, card.jpgUrl, card.imgAlt, card.span, card.cardDescription1, card.cardDescription2)
        button.button.save-button(type="button", onclick="window['modal-window'].showModal()", aria-controls="modal-window")
            svg.save-icon(viewBox="0 0 39 39")
                use(href="images/svg/floppy.svg#floppy")
            span.button__text Сохранить на память
    dialog#modal-window.modal-window
        div.modal-window-container
            svg.save-icon(viewBox="0 0 39 39")
                use(href="images/svg/floppy.svg#floppy")
            p.modal-window-text Вставьте дискету, чтобы продолжить
        button.button.modal-button(type="button", onclick="window['modal-window'].close();")
            span.button__text OK
    script(src="scripts/like.js")